@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --light-blue: #00abf0; /* Example light blue color */
  }
  :root {
    --second-bg-color: #081b29;
  }
  :root {
    --third-bg-color: #0e313e;
  }
body {
    font-family: Arial, sans-serif;
    background-color: var(--second-bg-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}


.hireme-container h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--light-blue);
  opacity: 0; /* Initially hidden */
  transform: translateX(-100%); /* Slide in from left */
  transition: all 0.5s ease-in-out; /* Smooth transition */
}

/* Add this class to the h2 element after the animation */
.slide-in-left {
  opacity: 1;
  transform: translateX(0);
}

/*for headings of the card container */
.hireme-container h2 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--light-blue);
  opacity: 0; /* Initially hidden */
  transform: translateX(-100%); /* Slide in from left */
  transition: all 0.5s ease-in-out; /* Smooth transition */
}

/* Add this class to the h2 element after the animation */
.slide-in-left {
  opacity: 1;
  transform: translateX(0);
}

/* for paragraphs inside the car container */
.hireme-container p {
  font-size: 1rem;
  text-align: center;
  color: var(--light-blue);
  opacity: 0; /* Initially hidden */
  transform: translateX(-100%); /* Slide in from left */
  transition: all 0.5s ease-in-out; /* Smooth transition */
}

/* Add this class to the h2 element after the animation */
.slide-in-left {
  opacity: 1;
  transform: translateX(0);
}



.projects {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    
}


.project-card-1 {
  text-align: center;
  width: 300px;
  height: 300px; 
  border: 2px solid var(--light-blue);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative; 
}

.project-card-1 .background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./folio.jpg'); 
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.project-card-1 h2 {
color: white;
}
.project-card-1 p {
  color: white;
  position: absolute;
  bottom: -2px; 
  left: 10px; 
}
.project-card-1 a {
  text-decoration: none; 
}
.project-card-1 .background-image-container {
 
  opacity: 0.5; 
  transition: opacity 0.3s ease; 
}

.project-card-1:hover .background-image-container {
  opacity: 0.3; 
}

.project-card-2 {
  text-align: center;
  width: 300px;
  height: 300px; 
  border: 2px solid var(--light-blue);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative; 
}

.project-card-2 .background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./logo.png'); 
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.project-card-2 h2 {
color: white;
}
.project-card-2 p {
  color: white;
  position: absolute;
  bottom: -2px; 
  left: 10px; 
}
.project-card-2 a {
  text-decoration: none; 
}
.project-card-2 .background-image-container {
 
  opacity: 0.8; 
  transition: opacity 0.3s ease; 
}

.project-card-2:hover .background-image-container {
  opacity: 0.3; 
}

.project-card-3 {
  text-align: center;
  width: 300px;
  height: 300px; 
  border: 2px solid var(--light-blue);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative; 
}

.project-card-3 .background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./chess.webp'); 
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.project-card-3 h2 {
color: white;
}
.project-card-3 p {
  color: white;
  position: absolute;
  bottom: -2px; 
  left: 10px; 
}
.project-card-3 a {
  text-decoration: none; 
}
.project-card-3 .background-image-container {
 
  opacity: 0.8; 
  transition: opacity 0.3s ease; 
}

.project-card-3:hover .background-image-container {
  opacity: 0.3; 
}
